/* 
 320/760/1024  screen size
  */
  /* html { min-height: 100%;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0; } */
    
  /* // it is reset css */
  /* the top */
 
  
  body {
    display: flex;
    border: transparent;
    background-image: linear-gradient(91deg, #18067b, #5762b6, #1f143b); /* Default gradient */
    min-width: 100%;
    min-height: 100%;
    flex-direction: column;
    justify-content: center;
  }
  
  
  /* Font ish */
  .jersey-10-charted-regular {
    font-family: "Jersey 10 Charted", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  
.honk {
  font-family: "Honk", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "MORF" 15,
    "SHLN" 50;
}
.image_container{
  display: flex;
  justify-content: center;
}
  *{
    /* border: rgb(232, 12, 12) 1px solid; */
    margin: 0;
    padding: 0;
    font-family: "Honk", system-ui;
    color: black;
    overflow: hidden;
  }

  /* Top Page */
  .top_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    word-wrap: break-word;
    font-size: x-large;
    font-family: "Honk", system-ui;   
    width: 100%;
  }

.bg_class{
position: relative;
width: 100vw;
height: 100vh;
  }
.sun{
  background-image: url(images/the_sun.png);
    background-size: cover;
    height: 100px;
    width: 108px;
    position: fixed;
    top: 83%;
    left: 0%;
    /* padding: 50px; */
    filter: drop-shadow(0 0 0.75rem rgb(0, 0, 0));
    /* animation: 86400s cubic-bezier(0.56, 0.34, 0.17, 0.97) infinite sunset; */
}

@keyframes sunset {
  0% {
    top: 80%;
    left: -1%;
    scale: 2;
}
25% {
    top: 10%;
    left: 46%;
    scale: 3;
}
50% {
    top: 83%;
    left: 106%;
    scale: 2;
}

75% {
    top: 85%;
    left: 109%;
    scale: 1;
}
100% {
    top: 85%;
    left: -1%;
    scale: 1;
}}

.moon{
  background-image: url(images/moon1.png);
    background-size: cover;
    height: 150px;
    width: 150px;
    position: fixed;
    top: 83%;
    left: 0%;
    /* padding: 50px; */
    filter: drop-shadow(0 0 0.75rem rgb(255, 250, 250));
    /* animation: 100s cubic-bezier(0.56, 0.34, 0.17, 0.97) infinite moonset; */
}

@keyframes moonset {
  0% {
    top: -28%;
    left: 99%;
    scale: 1.5;
    rotate: 341deg;
}
25% {
    top: -22%;
    left: 99%;
    rotate: 293deg;
}
50% {
    top: -14%;
    left: 97%;
    scale: 2;
    rotate: 251deg;
}
75% {
    top: 87%;
    left: 43%;
    rotate: 251deg;
    scale: 3;
}
100% {
    top: -21%;
    left: -14%;
    scale: 1;
    rotate: 188deg;
}}
/* The middle */

  .stranger{
    left: 43%;
    position: absolute;
    background-size: cover;
    bottom: 0%;
    height: 150px;
    width: 150px;
    z-index: 1;
    background-repeat: no-repeat;
    /* rotate: 27deg; */
    display: block;
    background-image: url(images/shirtdesign.png);
    animation: bob 6s ease-out infinite;}
  


@media (min-width: 430px) and (min-height: 932px) {
  .stranger {
      bottom: 5%;
      left: 36%;
  }
}

@media (max-width: 912px) and (max-height: 900px) {
  .stranger {
      bottom: 2%;
      left: 35%;
  }
}
@keyframes roll {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

@keyframes bob {
  0% {
    transform: translate(2px, 0vh) rotate(0.03turn);
}
25% {
    transform: translate(2px, 3vh) rotate(.095turn);
}

50% {
    transform: translate(-6px, -2vh) rotate(0.04turn);
}
75% {
    transform: translate(2px, 3vh) rotate(.095turn);
}
100% {transform: translate(2px, 1vh) rotate(0.03turn);
}}

 .bigwave{
  position: fixed;
  left: 0px;
  bottom: -2%;
  z-index: 0;
  width: 103%;
  overflow: visible;
  height: 22%;
  background-image: url(images/1920x380wave.png);
  background-size: cover;
  filter: hue-rotate(341deg) brightness(66%) contrast(80%);
}

.movingwave{
  position: fixed;
  /* background-image: url(images/1920x380wave.png); */
  left: 0%;
  bottom: 0px;
  width: 125%;
  overflow: hidden;
  height: 13%;
  background-image: url(images/1920x380wave.png);
  background-size: cover;
  animation: 6s cubic-bezier(0.56, 0.34, 0.17, 0.97) infinite wave;
  z-index: 4;
}

/* .icon_drift1{
  animation:6s cubic-bezier(0.56, 0.34, 0.17, 0.97) infinite side_to_side;} */

@keyframes 
wave {
  0%{ left: -10%; }
    50% { left: 0%; }
    100% { left: -10%;}
}

.login_wrapper{
  display: flex;
  /* margin-top: 15%; */
  flex-direction: row;
  justify-content: center;
  
}

 .login_box_bg{
  
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-size: x-large;
  position: absolute;
  text-align: center;
  /* top: 9%; */
  /* left: 8%; */
  z-index: 1;
  /* margin-top: 9%;
  
 }

 .login_wrapper{
  position: fixed;
  left:0px;
  top: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
  /* position: relative; */
 }

 .box_container{
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  align-items: flex-end;
  
 }

 input{
  padding: 10px;
  margin-top: 5px;
  border-radius: 15px;
 }

 .login_box{
  background-image: url(images/islandresize.png);
    background-size: cover;
    justify-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    /* background-color: purple; */
    padding: 30px 10px;
    border: rgb(15 9 9) 5px solid;
    border-radius: 30px;
    margin-top: 29px;
    border-top: hidden;
    box-shadow: -7px -9px 48px -17px black;
 }

.headline{
  font-size: 37px;
 }
 input{
  height: 100%;
  height: 100%;
  font-family: CURSIVE;
  /* align-items: flex-end; */
  font-weight: bolder;
 } 

 .enter_name{
display: flex;
justify-content: flex-end;
 }

 /* lower page */
 .socials{
  display: flex;
  justify-content: center;
  gap: 15px;
  align-items: end;
  position: absolute;
  top: 78%;
  left: 1%;
  width: 88%;
  z-index: 5;
  padding: 5%;
  height: 01%;
 }
 .tiktok,.twitter,.discord,.twitch,.youtube,.spotify,.facebook {
  background-image: url(images/tweet.png);
    position: absolute;
    background-size: cover;
    height: 48%;
    z-index: 5;
    width: 5%;
    top:  31%;
    left: 70%;
    border: 0;
    filter: drop-shadow(-1px 0px .5px white);
    animation:6s cubic-bezier(0.56, 0.34, 0.17, 0.97) infinite up_to_down}

.tiktok{
  background-image: url(images/tiktok.png);
  top: 46%;
  left: 30%;
  animation:6s cubic-bezier(0.56, 0.34, 0.17, 0.97) infinite up_to_down;
}
@keyframes 
up_to_down {
  0% {transform: translate(0,-15px);}
50% {transform: translate(0px);}
100% {transform: translate(0,-15px);}
}
.discord{
  background-image: url(images/discord.png);
  top: 46%;
  left: 59%;
}
@keyframes 
side_to_side {
  0% {transform: translate(-15px);}
50% {transform: translate(0px);}
100% {transform: translate(-15px);}
}

.twitch{
  background-image: url(images/twitch.png);
    top: 33%;
    left: 3%;
    }

.youtube {
  background-image: url(images/youtube.png);
  top: 29%;
  left: 15%;
}

.spotify{
  background-image: url(images/spotify.png);
    top: 29%;
    left: 91%;    
}

.facebook{
  background-image: url(images/facebook.png);
    top: 52%;
    left: 79%;
}
 .button_class{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0%;
  width: 100%;
 }
 
/* CSS */
.button {
  align-items: center;
  appearance: none;
  background-clip: padding-box;
  background-color: initial;
  background-image: none;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  flex-direction: row;
  flex-shrink: 0;
  /* font-family: Eina01,sans-serif; */
  font-size: 16px;
  font-weight: 800;
  justify-content: center;
  line-height: 24px;
  margin:5px;
  /* margin: 0; */
  min-height: 34px;
  outline: none;
  overflow: visible;
  padding: 5px 26px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  /* width: 20%; */
  word-break: keep-all;
  z-index: 0;
  /* scale: 50%; */
}

@media (min-width: 768px) {
  .button {
    padding: 5px 26px;
  }
}

.button:before,
.button:after {
  border-radius: 80px;
}

.button:before {
  background-image: linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2;
}

.button:after {
  background-color: initial;
  background-image: linear-gradient(#1bae67 0, #165935 100%);
  bottom: 4px;
  content: "";
  display: block;
  left: 4px;
  overflow: hidden;
  position: absolute;
  right: 4px;
  top: 4px;
  transition: all 100ms ease-out;
  z-index: -1;
}
#blue_button.button:after {
  background-color: initial;
  background-image: linear-gradient(#0d44b9 0, #0f1a7c 100%);
  bottom: 4px;
  content: "";
  display: block;
  left: 4px;
  overflow: hidden;
  position: absolute;
  right: 4px;
  top: 4px;
  transition: all 100ms ease-out;
  z-index: -1;
}
.button:hover:not(:disabled):before {
  background: linear-gradient(92.83deg, rgb(255, 116, 38) 0%, rgb(249, 58, 19) 100%);
}

.button:hover:not(:disabled):after {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition-timing-function: ease-in;
  opacity: 0;
}

.button:active:not(:disabled) {
  color: #ccc;
}

.button:active:not(:disabled):before {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
}

.button:active:not(:disabled):after {
  background-image: linear-gradient(#541a0f 0, #0c0d0d 100%);
  bottom: 4px;
  left: 4px;
  right: 4px;
  top: 4px;
}

.button:disabled {
  cursor: default;
  opacity: .24;
} 